<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style_blog.css') }}">
</head>
<body>
    <header>
        <div class="nav col-3" style="align-items: center; justify-content: space-around; ">
            <p class="nav" style="align-items: center;">Contáctame: </p>
            <a href="https://www.instagram.com/etolo_jo/"> <img style="width: 1.4rem" src="{{ url_for('static', filename='./img/assets/logotipo-de-instagram.png') }}" alt=""></a>
            <p class="nav" style="align-items: center;">+569 XXXX XXXX</p>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse col-4" style="padding-left: 0.8rem;">
            <a href="/"><img style="width: 5rem;" src="{{ url_for('static', filename='./img/etolojov2.png') }}" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse col-8" style="justify-content: flex-end; padding-right: 2rem;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/noticias">Noticias</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Educación
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/blog">Blog</a></li>
                        <li><a class="dropdown-item" href="#">Charlas</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agenda">Agenda tu hora</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutores" role="button" data-bs-toggle="dropdown" aria-expanded="false">Acceso tutores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Preguntas frecuentes</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='./img/material/mascota20.jpeg') }}" alt="Card image cap">                
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque dicta soluta eos ipsa odio maxime, voluptates cum dignissimos nam quod ex explicabo, architecto exercitationem! Nisi molestias quo iste natus nesciunt.</p>

                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='./img/material/mascota16.jpeg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium vitae sint libero aliquid odio dolor, incidunt est doloribus fugiat repudiandae alias consectetur ex assumenda ipsum. Eligendi quod rem accusantium assumenda.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='./img/material/mascota21.jpeg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, libero sit. Delectus facilis, cupiditate enim porro architecto omnis mollitia, dolores ut dolore aspernatur ullam officiis tenetur sed fugit, facere dicta.</p>
                </div>
            </div>
        </div>
    </div>


    <main>

    </main>
    <div class="container">
        <footer class="text-center">
        <!-- Grid container -->
            <div class="row pb-3">
                <!--Grid column-->
                <div class="col-lg-4 col-md-6">
                    <p class="text-center text-dark">Jocelyn Lagos Riquelme <br>Médica Veterinaria UM <br>Diplomada en Comportamiento UNCPBA <br>Educadora y Entrenadora Canina JACAMI</p>       
                </div>
                <!--Grid column-->
                <div class="col-lg-2">
                    <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 100px; height: 100px;">
                        <img src="{{ url_for('static', filename='./img/etolojov2.png') }}" height="150" loading="lazy" />
                    </div>
                </div>        
                <!--Grid column-->
                <div class="col-lg-3 ">
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="/veterinario" class="text-dark"><i class="pe-3"></i>Veterinarios</a>
                        </li>
                        <li class="mb-2">
                            <a href="#!" class="text-dark"><i class="pe-3"></i>Sobre mi</a>
                        </li>
                        <li class="mb-2">
                            <a href="#!" class="text-dark"><i class="pe-3"></i>Preguntas frecuentes</a>
                        </li>
                        <li class="mb-2">
                            <a href="#!" class="text-dark"><i class="pe-3"></i>Términos y condiciones</a>
                        </li>
                        <li class="mb-2">
                            <a href="#!" class="text-dark"><i class="pe-3"></i>Política de privacidad</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-2 text-dark">Contáctame</h5>
                    <ul class="list-unstyled">
                        <section class="mb-4">
                            <!-- Instagram -->
                            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
                                <img style="width: 20px; height:20px;" src="{{ url_for('static', filename='./img/assets/instagram_1400829.png') }}" alt=""></a>
                            <!-- Whatsapp -->
                            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
                                <img style="width: 20px; height:20px;" src="{{ url_for('static', filename='./img/assets/whatsapp.png') }}" alt="">
                                <i class="fab fa-linkedin"></i></a>
                            <p class="text-dark"><i class="fas fa-envelope pe-2 mb-0"></i>etolojo@gmail.com</p>
                        </section>
                    </ul>
                </div>
            </div>
            <!-- Copyright -->
            <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);"> © 2024 Copyright:
                <a class="text-dark" href="/">Etóloga Jocelyn Lagos</a>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>