<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style_noticias.css') }}">
</head>
<body>
    <header>
        <div class="nav col-3" style="align-items: center; justify-content: space-around; ">
            <p class="nav" style="align-items: center;">Contáctame: </p>
            <a href="https://www.instagram.com/etolo_jo/"> <img style="width: 1.4rem" src="{{ url_for('static', filename='./img/assets/logotipo-de-instagram.png') }}" alt=""></a>
            <p class="nav" style="align-items: center;">+569 XXXX XXXX</p>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse col-4" style="padding-left: 0.8rem;">
            <a href="/"><img style="width: 5rem;" src="{{ url_for('static', filename='./img/etolojov2.png') }}" alt="logo"></a>

        </div>
        <div class="collapse navbar-collapse col-8" style="justify-content: flex-end; padding-right: 2rem;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/noticias">Noticias</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Educación
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Blog</a></li>
                        <li><a class="dropdown-item" href="#">Charlas</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Agenda tu hora</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Área tutores
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/nuevo_tutor">Nuevo tutor</a></li>
                        <li><a class="dropdown-item" href="#">Acceso a tutor</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row"> 
        
            <!-- REGISTRO -->
            <div class="col-6">
                <h2>Registro</h2>
                <!-- MENSAJES DE ERROR --> 
                {% with messages = get_flashed_messages(category_filter=['register']) %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <form action="/register_vet" method="POST">
                    <div>
                        <label>Nombre</label>
                        <input type="text" name="first_name" class="form-control">
                    </div>
                    <div>
                        <label>Apellido</label>
                        <input type="text" name="last_name" class="form-control">
                    </div>
                    <div>
                        <label>E-mail</label>
                        <input type="text" name="email"class="form-control">
                    </div>
                    <div>
                        <label>Contraseña</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <div>
                        <label>Confirmación</label>
                        <input type="password" name="confirm" class="form-control">
                    </div>
                    <input type="submit" name="Registrarme" class="btn btn-info mt-3 ">
                </form>
            </div>
            
            <!-- INICIO DE SESIÓN -->
            <div class="col-6">
                <h2>Inicio de Sesión</h2>
                <!-- MENSAJE DE ERROR -->
                {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <form action="/login_vet" method="POST">
                    <div>
                        <label>E-mail</label>
                        <input type="text" name="email" class="form-control">
                    </div>
                    <div>
                        <label>Contraseña</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <input type="submit" value="Inicia sesión" class="btn btn-primary mt-3">
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div class="nav-link">
            <a href="/login_vet">Ingreso Veterinarios</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

