<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style_pre_consulta.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
<div class="container">

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse col-2" style="padding-left: 0.8rem;">
        <a href="/"><img style="width: 5rem;" src="{{ url_for('static', filename='./img/etolojov2.png') }}" alt="logo"></a>
    </div>
    <div class="collapse navbar-collapse col-10">
        <ul class="navbar-nav mr-auto col-10">
            <a href="dashboard_tutor" class="btn btn-success">Atrás</a>
            <a href="/logout" class="btn btn-danger">Cerrar sesión</a>
        </ul>
    </div>
</nav>



    <!-- MultiStep Form -->
    <div class="container-fluid" id="grad1">
        <div class="row mt-0">
            <div class="col-12 col-sm-9 col-md-7 col-lg-7 p-0 d-flex mx-auto">
                <div class="card">
                    <h2><strong>Cuestionario previo a su consulta</strong></h2>
                    <p>Por favor complete el cuestionario para tener mayor información y preparar nuestra primera consulta</p>
                    <div class="row">
                        {% with messages = get_flashed_messages(category_filter=['form_antecedentes']) %}
                            {% if message %}
                            <div class="alert alert-success">
                                {% for message in messages %}
                                    <p>{{message}}</p>
                                {% endfor%}
                            </div>
                            {% endif %}
                        {% endwith %}
                        <form action="/guardar_datos" method="POST">
                            <h2>Antecedentes</h2>
                            <div class="this_card">
                                <label>¿Cómo se llama su mascota?</label>
                                    <input type="text" name="nombre_mas">
                                <div>
                                    <label>Perro o gato</label><br>
                                        <input type="radio" name="dog_or_cat" value="1" checked>Perro
                                        <input type="radio" name="dog_or_cat" value="0" > Gato
                                </div>
                                <label>Raza</label>
                                    <input type="text" name="raza">
                                <label>Fecha de nacimiento</label>
                                    <input type="date" name="fecha_nac">
                                <label>Edad</label>
                                    <input type="text" name="edad">
                                <label>Peso (o aproximado)</label>
                                    <input type="text" name="peso">
                                <div>
                                    <label>Hembra o macho</label><br>
                                        <input type="radio" name="sexo" value="1" checked>Hembra
                                        <input type="radio" name="sexo" value="0" > Macho
                                </div>
                                <input type="submit" name="submit" class="next action-button" value="Guardar"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>