<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style_pre_consultaPRO.css') }}">
    <script src="{{ url_for('static', filename='./js/pre_consultaPRO.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="encabezado">
        <form action="#" method="POST">
        <div class="">
            <div class="contenido_nav montserrat">
                <div class="" >
                    <a href="/" ><img style="width: 5rem;" src="{{ url_for('static', filename='./img/etolojov2.png') }}" alt="logo" class="logo"></a>
                </div>
                <div class="cont_nav">
                    <a class="btn btn-success cont_nav" href="dashboard_tutor">Atrás</a>
                    <a class="btn btn-danger cont_nav" href="/logout">Salir</a>
                </div>
            </div>
        </div>
        </form>
    </div>

    <form action="/guardar_datos" class="form" id="formulario" method="POST" enctype="multipart/form-data">
        <div class= "text-center">
            <h2><strong>Cuestionario previo a su consulta</strong></h2>
            <p>Por favor complete el cuestionario para tener mayor información y preparar nuestra primera consulta</p>
        </div>  
    <!--    Progressbar-->
        <div class="progressbar">
    
            <div class="progress" id="progress"></div>
    
            <div class="progress-step active" data-title=""></div>
            <div class="progress-step" data-title=""></div>
            <div class="progress-step" data-title=""></div>
            <div class="progress-step" data-title=""></div>
            <div class="progress-step" data-title=""></div>
            <div class="progress-step" data-title=""></div>
        </div>
    
    <!--    steps-->
        <div class="form-step active">
            <h2>Antecedentes y Adquisición</h2>
            
            <div class="input-group" id="grupo__nombre_mas">
                <label for="nombre_mas" class="formulario__label">*¿Cómo se llama su mascota?</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="nombre_mas" id="nombre_mas" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">El nombre tiene que ser de al menos 2 caracteres.</p>
            </div>
            <div class="input-group" id="grupo__dog_or_cat">
                <label for="dog_or_cat" class="formulario__label">*Perro o gato</label>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                <p class="formulario__input-error">DEBES SELECCIONAR UNA OPCION </p>
                <div class="formulario__grupo-input radio-group">
                    <div class='radio' for="perro">Perro<input name="dog_or_cat"  value="1" type="radio" id="dog_or_cat" ></div>
                    <div class='radio' for="gato">Gato <input name="dog_or_cat"  value="2" type="radio" id="dog_or_cat" ></div>
                    <br>
                </div>
            </div>
            <div class="input-group" id="grupo__raza">
                <label for="raza" class="formulario__label">*Raza</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="raza" id="raza" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">La raza tiene que ser de al menos 3 caracteres.</p>
            </div>
            <div class="input-group" id="grupo__fecha_nac">
                <label for="fecha_nac" class="formulario__label">*Fecha de nacimiento</label>
                <div class="formulario__grupo-input">
                    <input type="date" class="formulario__input"  name="fecha_nac" id="fecha_nac" required>
                </div>
                <p class="formulario__input-error">INDICA LA FECHA NACIMIENTO.</p>
            </div>
            <div class="input-group" id="grupo__edad">
                <label for="edad" class="formulario__label">*Edad</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="edad" id="edad" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Edad tiene que ser de al menos 4 caracteres.</p>
            </div>
            <div class="input-group" id="grupo__peso">
                <label for="peso" class="formulario__label">*Peso</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="peso" id="peso" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Peso tiene que ser de al menos 2 caracteres.</p>
            </div>
            <div class="input-group" id="grupo__sexo">
                <label for="sexo" class="formulario__label">*Hembra o macho</label>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                <p class="formulario__input-error">DEBES SELECCIONAR UNA OPCION </p>
                <div class="formulario__grupo-input radio-group">
                    <div class='radio' for="hembra">Hembra<input name="sexo"  value="1" type="radio" id="sexo" ></div>
                    <div class='radio' for="macho">Macho <input name="sexo"  value="2" type="radio" id="sexo" ></div>
                    <br>
                </div>
            </div>
            <div class="input-group" id="grupo__edad_adopcion">
                <label for="edad_adopcion" class="formulario__label">*Edad de adopcion</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="edad_adopcion" id="edad_adopcion" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Edad de adopcion tiene que ser de al menos 2 caracteres.</p>
            </div>
            <div class="input-group" id="grupo__donde_adquisicion">
                <label for="donde_adquisicion" class="formulario__label">*¿Donde lo adquirió?</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="donde_adquisicion" id="donde_adquisicion" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 2 caracteres.</p>
            </div>
            <div class="input-group" id="grupo__tiempo_con_madre_hrnos">
                <label for="tiempo_con_madre_hrnos" class="formulario__label">*¿Hasta qué edad estuvo con sus madre y/o hermanos?</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="tiempo_con_madre_hrnos" id="tiempo_con_madre_hrnos" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 2 caracteres.</p>
            </div>
            <div class="input-group" id="grupo__momento_salida_a_calle">
                <label for="momento_salida_a_calle" class="formulario__label">*¿A qué edad salió por primera vez a la calle?</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="momento_salida_a_calle" id="momento_salida_a_calle" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 2 caracteres.</p>
            </div>
            <h4>* Obligatorio</h4>
            <div class="">
                <a href="#" class="btn btn-next with-50 ml-auto" id="btn-next1">Siguiente</a>
            </div>
    
            <div class="formulario__mensaje " id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
            </div>
        </div>
    
    
        <div class="form-step">
            <h2>Vacunas</h2>
            <div class="input-group" id="grupo__nom_fecha_ultima_vac">
                <label for="nom_fecha_ultima_vac" class="formulario__label">*Fecha y nombre de última vacuna</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="nom_fecha_ultima_vac" id="nom_fecha_ultima_vac" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 6 caracteres.</p>
            </div>
            <div class="input-group" id="grupo__nom_fecha_antiparasitario">
                <label for="nom_fecha_antiparasitario" class="formulario__label">*Fecha y nombre de último antiparasitario</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="nom_fecha_antiparasitario" id="nom_fecha_antiparasitario" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 6 caracteres.</p>
            </div>
            <h2>Castración</h2>
            <div class="input-group" id="grupo__castracion">
                <label for="castracion" class="formulario__label">*¿Su mascota está castrado/a?</label>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                <p class="formulario__input-error">DEBES SELECCIONAR UNA OPCION </p>
                <div class="formulario__grupo-input radio-group">
                    <div class='radio' for="castracion">Si<input name="castracion"  value="1" type="radio" id="castracion" ></div>
                    <div class='radio' for="castracion">No <input name="castracion"  value="2" type="radio" id="castracion" ></div>
                    <br>
                </div>
            </div>
            <div class="input-group" id="grupo__fecha_castracion">
                <label for="fecha_castracion" class="formulario__label">Fecha Castración</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="fecha_castracion" id="fecha_castracion" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 2 caracteres.</p>
            </div>
            <div class="input-group" id="grupo__motivo_castracion">
                <label for="motivo_castracion" class="formulario__label">¿Cuál fue el motivo de la castración?</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="motivo_castracion" id="motivo_castracion" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 2 caracteres.</p>
            </div>
            <h4>* Obligatorio</h4>
            <div class="btns-group">
                <a href="#" class="btn btn-pre">Anterior</a>
                <a href="#" class="btn btn-next" id="btn-next2">Siguiente</a>
            </div>
            <div class="formulario__mensaje " id="formulario__mensaje2">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
            </div>
        </div>
        
        <div class="form-step">
            <h2>Alimentación</h2>
            <div class="input-group" id="grupo__tipo_alimentacion">
                <label for="tipo_alimentacion" class="formulario__label">*Tipo de alimentación</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="tipo_alimentacion" id="tipo_alimentacion" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 6 caracteres.</p>
            </div>
            <h2>Entrenamiento</h2>
            <div class="input-group" id="grupo__tuvo_entrenamiento">
                <label for="tuvo_entrenamiento" class="formulario__label">*¿Tuvo entrenamiento?</label>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                <p class="formulario__input-error">DEBES SELECCIONAR UNA OPCION </p>
                <div class="formulario__grupo-input radio-group">
                    <div class='radio' for="tuvo_entrenamiento">Si<input name="tuvo_entrenamiento"  value="1" type="radio" id="tuvo_entrenamiento" ></div>
                    <div class='radio' for="tuvo_entrenamiento">No <input name="tuvo_entrenamiento"  value="2" type="radio" id="tuvo_entrenamiento" ></div>
                    <br>
                </div>
            </div>
            <div class="input-group" id="grupo__motivo_entrenamiento">
                <label for="motivo_entrenamiento" class="formulario__label">Motivo del entrenamiento:</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="motivo_entrenamiento" id="motivo_entrenamiento" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 6 caracteres.</p>
            </div>
            <h4>* Obligatorio</h4>            
            <div class="btns-group">
                <a href="#" class="btn btn-pre">Anterior</a>
                <a href="#" class="btn btn-next" id="btn-next3">Siguiente</a>
            </div>
        
            <div class="formulario__mensaje " id="formulario__mensaje3">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
            </div>
        </div>
    
        <div class="form-step">
            <h2>Diagnósticos Previos:</h2>
            <div class="input-group" id="grupo__diagnostico">
                <label for="diagnostico" class="formulario__label">*¿Tiene algún dianóstico? ¿Cuál?</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="diagnostico" id="diagnostico" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 2 caracteres.</p>
            </div>
            <h2>Tratamiento:</h2>
            <div class="input-group" id="grupo__esta_en_tto">
                <label for="esta_en_tto" class="formulario__label">Si lo anterior es sí, ¿está en tratamiento?</label>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                <p class="formulario__input-error">DEBES SELECCIONAR UNA OPCION </p>
                <div class="formulario__grupo-input radio-group">
                    <div class='radio' for="esta_en_tto">Si<input name="esta_en_tto"  value="1" type="radio" id="esta_en_tto" ></div>
                    <div class='radio' for="esta_en_tto">No <input name="esta_en_tto"  value="2" type="radio" id="esta_en_tto" ></div>
                    <br>
                </div>
            </div>
            <div class="input-group" id="grupo__problema_fisico">
                <label for="problema_fisico" class="formulario__label">*¿Tiene algún problema físico? ¿Cuál?</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="problema_fisico" id="problema_fisico" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 2 caracteres.</p>
            </div>
            <div class="input-group" id="grupo__medicamentos">
                <label for="medicamentos" class="formulario__label">*¿Toma medicamentos? ¿Cuáles medicamentos?</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="medicamentos" id="medicamentos" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 2 caracteres.</p>
            </div>
            <div class="input-group" id="grupo__examen">
                <h3>Examenes:</h3>
                <label for="examen" class="formulario__label">Adjunte aquí:</label>
                <div class="formulario__grupo-input">
                    <input type="file" class="formulario__input"  name="examen" id="examen" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">EXAMENES tiene que ser de al menos 2 caracteres.</p>
            </div>            
            <h4>* Obligatorio</h4>            
            <div class="btns-group">
                <a href="#" class="btn btn-pre">Anterior</a>
                <a href="#" class="btn btn-next" id="btn-next4">Siguiente</a>
            </div>
        
            <div class="formulario__mensaje " id="formulario__mensaje4">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
            </div>
        </div>
    
    
    
        <div class="form-step">
            <h2>Motivos de consulta:</h2>
            <div class="input-group" id="grupo__motivo_consulta">
                <label for="motivo_consulta" class="formulario__label">*Explique aquí el motivo de su consulta:</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="motivo_consulta" id="motivo_consulta" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 6 caracteres.</p>
            </div>
            <div class="input-group" id="grupo__otra_mascota">
                <label for="otra_mascota" class="formulario__label">*¿Tiene otra mascota (perro o gato)? si su respuesta es sí, por favor agrege el nombre y la edad de la otra mascota</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input"  name="otra_mascota" id="otra_mascota" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Este campo debe contener al menos 2 caracteres.</p>
            </div>
            <div class="input-group" id="grupo__derivaciones">
                <h3>Derivación:</h3>
                <label for="derivaciones" class="formulario__label">Adjunte aquí:</label>
                <div class="formulario__grupo-input">
                    <input type="file" class="formulario__input"  name="derivaciones" id="derivaciones" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">DERIVACIONES tiene que ser de al menos 2 caracteres.</p>
            </div>            
            <h4>* Obligatorio</h4>    
            <div class="btns-group">
                <a href="#" class="btn btn-pre" >Anterior</a>
                <a href="#" class="btn btn-next" id="btn-submit">Guardar</a>
            </div>
            <div class="formulario__mensaje " id="formulario__mensaje5">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
            </div>
        </div>
    
        <div class="form-step">
            <div class="form-card">
                <h2 class="fs-title text-center">¡Muchas gracias!</h2>
                <br><br>
                <div class="row justify-content-center">
                    <div class="col-3 text-center">
                        <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
                    </div>
                </div>
                <br><br>
                <div class="row justify-content-center">
                    <div class="col-7 text-center">
                        <h5>El formuario fue enviado exitosamente</h5>
                    </div>
                </div>
            </div>
        </div>
    
        
    
    </form>
    
    
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    

    
</div>
</body>
</html>