<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style_sobre_mi.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
 <div class="container">
    <div class="card p-3 mt-3">
    <header>
        <div class="nav col-3 col-lg-4 col-md-6 mb-4" style="align-items: center; justify-content: space-around">
            <p class="nav" style="align-items: center;">Contáctame </p>
            <a href="https://www.instagram.com/etolo_jo/"> <img style="width: 1.4rem" src="{{ url_for('static', filename='./img/assets/logotipo-de-instagram.png') }}" alt=""></a>
            <p class="nav" style="align-items: center;">+569 XXXX XXXX</p>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse col-4">
            <div class="col-4" style="padding-left: 0.8rem;">
                <a class="navbar-brand" href="/"><img style="width: 8rem;" src="{{ url_for('static', filename='./img/etolojov2.png') }}" alt="logo"></a>
            </div>

            <div class="col-8 collapse navbar-collapse" style="justify-content: flex-end; padding-right: 2rem;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Educación
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/blog">Blog</a></li>
                            <!--<li><a class="dropdown-item" href="#">Charlas</a></li>-->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/agenda">Agenda tu hora</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tutores">Acceso tutores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/preguntas_frecuentes">Preguntas frecuentes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 </div>
    <div>
        <div class="container mt-5">
            <div class="card p-5 mt-5">
            <article class="paltitulo">
                <h2 class="text-center">SOBRE MI</h2>
            </article>
            </div>
            <div class="card p-5 mt-5">
            <section class="dark">
                <div class="container">
                    <h1 class="h1 text-center" id="pageHeaderTitle"></h1>
                    <article class="postcard">
                        <a class="postcard__img_link" href="#">
                        </a>
                        <div class="postcard__text">
                            <div class="postcard__bar"></div>
                                <div class="postcard__preview-txt">Cuando pequeña crecí en un ambiente rodeada de animales, se me enseño estar en contacto con ellos desde muy temprana edad pero en algún momento comencé a cuestionar el trato que se le daba a ellos, la forma de comunicarnos no es solo importante en las relaciones interpersonales en nuestra especie, también generan un gran impacto en nuestros animales de compañía. <br>
                            <br>Crecí en el campo, un ambiente en conexión con los animales pero desde una arista un poco ruda donde los gritos eran la forma cotidiana de relacionarse con las bestias, con los brutos… estas era palabras cotidianas escuchadas en mi niñez, los gatos son traicioneros y los animales en general  impredecible debes tener cuidado... <br>
                            <br> ¿Realmente son impredecible o nosotros no nos habíamos cuestionado como comunicarnos con ellos?
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            </div>
            <div class="card p-5 mt-5">
            <section class="dark">
                <div class="container py-4">
                    <article class="postcard">
                        <div class="postcard__text_img">
                            <img class="postcard__img" id="img1" src="{{ url_for('static', filename='./img/material/rcky.jpg') }}" alt="Image Title" />
                            <img class="postcard__img" id="img1" src="{{ url_for('static', filename='./img/material/niña.jpg') }}" alt="Image Title" />
                            <img class="postcard__img" id="img3" src="{{ url_for('static', filename='./img/material/draco.jpg') }}" alt="Image Title" />
                            <img class="postcard__img" id="img2" src="{{ url_for('static', filename='./img/material/niññ.jpg') }}" alt="Image Title" />
                            <img class="postcard__img" id="img4" src="{{ url_for('static', filename='./img/material/gea.jpg') }}" alt="Image Title" />

                        </div>
                    </article>
                    
                </div>
            </section>
            </div>
            <div class="card p-5 mt-5">
            <section>
                <div>
                    <article class="postcard dark red">
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img" src="{{ url_for('static', filename='./img/material/mascota11.jpeg') }}" alt="Image Title" />	
                        </a>
                        <div class="postcard__text">
                            <div class="postcard__preview-txt">Y comenzó mi viaje primero con el gran sueño de ser médico veterinaria y luego con entender el comportamiento animal y ayudarte a ti a comunicarte mejor con ellos y entenderlos. <br>
                                <br>No solo Eliza Thornberry puede hablar con los animales, tú también lo puedes hacer, podemos lograr comunicarnos y entendernos. Tenemos un lenguaje en común, gracias a ellos el perro co-evoluciono con nosotros. ¿Lo dudas? <br>
                                <br>Es por ello mi área de interés y dedicación es la etología, el comportamiento animal, adiestramiento y educación canina puesto que me entregan las mejores herramientas para cumplir mis sueños. <br>
                                <br>Ayudar a ver más colas moverse de alegría y no por miedo, ayudar a una familia a recuperar ese vínculo que creía roto con su peludo. 
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            </div>
            <div class="card p-5 mt-5">
            <section class="dark">
                <div class="container py-4">
                    <h1 class="h1 text-center" id="pageHeaderTitle"></h1>
                    <article class="postcard">
                        <a class="postcard__img_link" href="#">
                            
                        </a>
                        <div class="postcard__text">
                            <div class="postcard__preview-txt">Te entiendo yo también he cometido errores, yo también pensé en algún momento de la vida que la estructura social de los perros era una jerarquía lineal, donde debía usar una voz firme para lograr que me hicieran caso o que el gato era un individuo independiente e interesado. <br>
                                <br>Hoy puedo ayudarte a cambiar pensamientos que están obsoletos, puedo entregar herramientas para  gestionar situaciones que te estresan. Podemos cambiar una conducta en tus peludos desde la base del bienestar animal, el refuerzo positivo y la modificación conductual basada en la evidencia científica.  </div>
                        </div>
                        <div class="postcard__text_img">
                            <img class="postcard__img" id="img1" src="{{ url_for('static', filename='./img/material/mascota17.jpeg') }}" alt="Image Title" />
                        </div>
                    </article>
                    
                </div>
            </section>
            </div>
            <div class="card p-5 mt-5">
            <section class="dark">
                <div class="container">
                    <article class="postcard">
                        <div class="postcard__text">
                            <h1 class="postcard__title red"><a href="#">Pacientes</a></h1>
                            <div class="postcard__bar"></div>
                        </div>
                        <img class="postcard__img img-fluid rounded-circle mb-3img-fluid rounded-circle mb-3" id="img1" src="{{ url_for('static', filename='./img/material/mascota27.jpeg') }}" alt="Image Title" >
                        <img class="postcard__img img-fluid rounded-circle mb-3img-fluid rounded-circle mb-3" id="img2" src="{{ url_for('static', filename='./img/material/mascota28.jpeg') }}" alt="Image Title" >
                        <img class="postcard__img img-fluid rounded-circle mb-3img-fluid rounded-circle mb-3" id="img3" src="{{ url_for('static', filename='./img/material/mascota31.jpeg') }}" alt="Image Title" >
                        <img class="postcard__img img-fluid rounded-circle mb-3img-fluid rounded-circle mb-3" id="img3" src="{{ url_for('static', filename='./img/material/mascota32.jpeg') }}" alt="Image Title" >

                    </article>
                </div>
            </section>
            </div>
        </div>
    </div>
    <div class="card p-5 mt-5">
    <main>
        <div class="container">
            <footer class="text-center">
            <!-- Grid container -->
                <div class="row pb-3">
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6">
                        <p class="text-center text-dark">Jocelyn Lagos Riquelme <br>Médica Veterinaria UM <br>Diplomada en Comportamiento UNCPBA <br>Educadora y Entrenadora Canina JACAMI</p>       
                    </div>
                    <!--Grid column-->
                    <div class="col-lg-2">
                        <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 100px; height: 100px;">
                            <img src="{{ url_for('static', filename='./img/etolojov2.png') }}" height="150" loading="lazy" />
                        </div>
                    </div>        
                    <!--Grid column-->
                    <div class="col-lg-3 ">
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="/veterinario" class="text-dark"><i class="pe-3"></i>Veterinarios</a>
                            </li>
                            <li class="mb-2">
                                <a href="/sobre_mi" class="text-dark"><i class="pe-3"></i>Sobre mi</a>
                            </li>
                            <li class="mb-2">
                                <a href="preguntas_frecuentes" class="text-dark"><i class="pe-3"></i>Preguntas frecuentes</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-dark"><i class="pe-3"></i>Términos y condiciones</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-dark"><i class="pe-3"></i>Política de privacidad</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-2 text-dark">Contáctame</h5>
                        <ul class="list-unstyled">
                            <section class="mb-4">
                                <!-- Instagram -->
                                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/etolo_jo/" role="button" data-mdb-ripple-color="dark">
                                    <img style="width: 20px; height:20px;" src="{{ url_for('static', filename='./img/assets/instagram_1400829.png') }}" alt=""></a>
                                <!-- Whatsapp -->
                                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://bit.ly/etolo_jocelyn" role="button" data-mdb-ripple-color="dark">
                                    <img style="width: 20px; height:20px;" src="{{ url_for('static', filename='./img/assets/whatsapp.png') }}" alt="">
                                    <i class="fab fa-linkedin"></i></a>
                                <p class="text-dark"><i class="fas fa-envelope pe-2 mb-0"></i>etolojo@gmail.com</p>
                            </section>
                        </ul>
                    </div>
                </div>
                <!-- Copyright -->
                <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);"> © 2024 Copyright:
                    <a class="text-dark" href="/">Etóloga Jocelyn Lagos</a>
                </div>
            </footer>
        </div>
    </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</div>
</body>
</html>
