* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}


:root{
    --primary-color:rgb(56, 179, 11);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4{
    margin-top: 10px;
    margin-bottom: 20px;
}

.contenido_nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.encabezado{
    width: 100%;
}

.cont_nav{
    display: flex;
    
    margin-right: 50px;
}

.logo{
    margin-left: 100px;
}


body{
    font-family: 'Montserrat',sans-serif;
    /* display: grid; */
    place-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #74ebd5,#acb6e5);
}

/*General Settings*/
label{
    display: block;
    margin-bottom: 0.5rem;
}

input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.text-center{
    text-align: center;
    color: #2c3e50;
}

.with-50{
    width: 50%;
}

.ml-auto{
    margin-left: auto;
}

/*Progress*/
.progressbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 4rem 0;
    counter-reset: step;
}

.progressbar::before, .progress{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
}

.progress{
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s ease-in-out;
}

.progress-step{
    width: 35px;
    height: 35px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.progress-step::before{
    counter-increment: step;
    content: counter(step);
}

.progress-step::after{
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: .80rem;
    color: #666666;
}

.progress-step.active{
    background-color: var(--primary-color);
    color: #f3f3f3;
}

/*Imaged Radio Buttons*/
.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display:inline-block;
    border-radius: 0;
    background: rgb(21, 107, 136);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor:pointer;
    margin: 8px 2px; 
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

div .radio { 
    background-color: #ffffff;
    width: fit-content;
    padding: 1rem;
    text-align: center;
    height: 4rem;
    
}




/*form*/
.form{
    width: clamp(720px, 30%,430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: .35rem;
    padding: 3rem;
    background-color: #ecf0f1;
    box-shadow: 2px 4px 11px -1px #000000;
}

.form-step{
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

@keyframes animate {
    from{
        transform: scale(1, 0);
        opacity: 0;
    }
    to{
        transform: scale(1, 1);
        opacity: 1;
    }
}


.form-step.active{
    display: block;
}

.input-group{
    margin: 2rem 0;
}

/*Buttons*/
.btns-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.btn{
    padding: 0.75rem;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    border-radius: .25rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.btn:active{
    transform: scale(.98);
}

.btn:hover{
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

.btn-success{
    padding: 0.75rem;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(10, 164, 10);
    color: #f3f3f3;
    border-radius: .25rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.btn-danger{
    padding: 0.75rem;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(172, 11, 11);
    color: #f3f3f3;
    border-radius: .25rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}



/*  para que funcione el formulario.js */

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
    margin-top: 30px;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

/* validaciones */

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}











