* {
    padding: 0;
    margin: 0;
    border: 0;
}
header {
    /*background-color:#D6FFD8;*/
    height: 2.7rem;
    padding: 1rem;
    color:#060707;
    font-weight: bold;
}
nav {
    /*background-color:#D6FFD8;*/ 
    color: black;
    padding: 1rem;
    font-size: 1.0rem
}

.navbar-light .navbar-nav .nav-link {
    font-weight:bold;
    padding-left: 0.1rem;
    padding-right: 1.2rem;
    
    
}
div .row {
    align-items: center
    
}


.card {
    margin: 3rem;
    padding: 1rem;
	background-color: #77bfa3;

}
.card-deck {
    display: flex;
}
body {
    background-color: #143642;
}
.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

footer {
    /*background-color: #77bfa3ff;*/
    color: #143642;
    padding: 1.8rem;
}


.my-4 {
    align-items: center;

}

footer div { 
    /*color: #98c9a3ff;*/
}

div ul li {
    color: #bfd8bdff;

}

main, body{ 
    /*background-color: #D6FFD8;*/
}